.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}

.logo {
  width: 100px;
}

.nav-items {
  padding: 0px 20px;
}

.nav-items > ul {
  font-size: 16px;
  display: flex;
  list-style-type: none;
}

.nav-items > ul > li {
  padding: 10px;
  margin: 10px;
}

.restaurant-card {
  margin: 20px;
  padding: 5px;
  width: 200px;
  /* height: 450px; */
  /* border: 1px solid black; */
}

.restaurant-card:hover {
  cursor: pointer;
  border: 1px solid black;
}

.search {
  padding: 10px;
}

.restaurant-logo {
  /* margin: 8px; */
  width: 100%;
}

.restaurant-container {
  /* padding: 10px; */
  display: flex;
  flex-wrap: wrap;
}

.footer {
  border: 1px solid black;
  display: flex;
  padding: 10px;
}

.footer-items {
  padding: 10px;
  display: flex;
  margin: 5px;
}

.footer-items > div > ul {
  list-style-type: none;
  padding-inline-start: 20px;
}

.contact-us {
  padding: 1px;
}

.filter {
    display: flex;
    flex-wrap: wrap;
}

.filter-btn {
  margin: 10px;
  cursor: pointer;
}

.shimmer-container {
  display: flex;
  flex-wrap: wrap;
}

.shimmer-card {
  margin: 20px;
  width: 200px;
  height: 400px;
  background-color: #f0f0f0;
}

.login {
    padding: 0 20px;
    cursor: pointer;
}

.search-btn {
    cursor: pointer;
}